* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  /* colors */
  --Primary: #282828;
  --On-Primary: #ffffff;
  --Secondary: #c3b212;
  --On-Secondary: #000000;
  --Background: #fefefe;
  --Background-Variant: #f4f4f4;
  --Outline: #a0a0a0;
  /* fonts */
  --Primary-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Prosto One", sans-serif;
}

body {
  background-color: var(--Background);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 769px) {
  .container1 {
    width: 1280px;
  }
  /* HEADER */
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .header .container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 511px;
  }
  .header .container ul a {
    text-decoration: none;
  }
  .header .container ul li {
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: var(--Primary);
  }
  .header .container .logo {
    width: 192px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .container div:nth-of-type(1) h5 {
    font-family: var(--secondary-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    width: 136px;
    color: var(--Primary);
  }
  .header .container div:nth-of-type(1) img {
    width: 36px;
    height: 36px;
  }

  .header .container div:nth-of-type(3) {
    width: 168px;
    display: flex;
    justify-content: space-between;
  }
  .header .container div:nth-of-type(3) img:nth-of-type(1) {
    width: 18px;
    height: 18px;
  }
  .header .container div:nth-of-type(3) img:nth-of-type(2) {
    width: 16px;
    height: 16px;
  }
  .header .container div:nth-of-type(3) a img {
    width: 18px;
    height: 21px;
  }
  .header .container div:nth-of-type(3) img:nth-of-type(3) {
    display: none;
  }
  .header .container div:nth-of-type(3) {
    position: relative;
  }
  /* menu barrrrrrrrrrrrr */
  .header .container div:nth-of-type(3) .menu-bar {
    display: block;
  }
  /* menu barrrrrrrrrrrrr */
  .header .container div:nth-of-type(3) .menu-bar {
    display: none;
    width: 465px;
    height: 714px;
    right: -60px;
    top: -2px;
    background-color: var(--Background);
    position: absolute;
    z-index: 1;
  }
  .header .container div:nth-of-type(3) .menu-bar .closed {
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
  }
  .header .container div:nth-of-type(3) .menu-bar .closed span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
  }
  .header .container div:nth-of-type(3) .menu-bar .closed img {
    width: 10.5px;
    height: 10.5px;
    display: none;
  }
  .header .container div:nth-of-type(3) .menu-bar .first-product {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: 71px;
    margin: 25px;
    gap: 26px;
  }
  .header .container div:nth-of-type(3) .menu-bar .first-product img {
    width: 71px;
    height: 71px;
  }
  .header .container div:nth-of-type(3) .menu-bar .first-product .details {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  .header .container div:nth-of-type(3) .menu-bar .first-product .details .one {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .first-product
    .details
    .one
    div:nth-of-type(1) {
    width: 200px;
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .first-product
    .details
    .one
    div:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .first-product
    .details
    .one
    div:nth-of-type(2)
    i {
    font-size: 22px;
    color: var(--Primary);
    font-size: 22px;
    text-align: center;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .first-product
    .details
    .one
    div:nth-of-type(2)
    span {
    font-size: 22px;
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
  }
  .header .container div:nth-of-type(3) .menu-bar .first-product .details .two {
    display: flex;
    justify-content: space-between;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .first-product
    .details
    .two
    div {
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase {
    display: flex;
    flex-direction: column;
    gap: 21px;
    height: 237px;
    width: 400px;
    margin: 25px;
    align-content: center;
    align-items: center;
    margin-top: 60%;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .one {
    width: 350px;
    border: 1px solid var(--Outline);
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .two {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .two span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .three {
    display: none;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .four {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .four span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .five {
    width: 350px;
    border: 1px solid var(--Outline);
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .six {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .purchase
    .six
    span:nth-of-type(1) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .purchase
    .six
    span:nth-of-type(2) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase a {
    width: 400px;
    background-color: var(--Primary);
    text-align: center;
    height: 56px;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase a button {
    width: 400px;
    background-color: inherit;
    text-align: center;
    height: 56px;
    color: var(--On-Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
  }

  .header .container div:nth-of-type(3):hover .menu-bar {
    display: none;
  }
  /* thank you */
  .container1 .thank-you {
    width: 622px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 372px;
    margin-top: 20px;
    margin-bottom: 53px;
  }
  .container1 .thank-you span:nth-of-type(1) {
    color: var(--Primary);
    font-family: var(--secondary-font-family);
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
    margin-bottom: 16px;
  }
  .container1 .thank-you span:nth-of-type(2) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 28px;
  }
  .container1 .thank-you span:nth-of-type(3) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
  }
  /* section */
  .container1 section {
    display: flex;
    margin-bottom: 139px;
  }
  /* first box  bag*/
  .container1 section .first-box {
    display: flex;
    flex-direction: column;
    gap: 170px;
  }
  .container1 section .first-box .bag {
    width: 453px;
    gap: 28px;
    display: flex;
    flex-direction: column;
    margin-left: 79px;
  }
  .container1 section .first-box .bag .first-product {
    display: flex;
    justify-content: space-between;
    width: 453px;
    gap: 26px;
  }
  .container1 section .first-box .bag .first-product .details {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 356px;
  }
  .container1 section .first-box .bag .first-product .details .one {
    display: flex;
    justify-content: space-between;
    gap: 1px;
  }
  .container1
    section
    .first-box
    .bag
    .first-product
    .details
    .one
    div:nth-of-type(1) {
    width: 200px;
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
  }
  .container1
    section
    .first-box
    .bag
    .first-product
    .details
    .one
    div:nth-of-type(2) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }
  /* purchase */
  .container1 section .first-box .purchase {
    display: flex;
    flex-direction: column;
    gap: 21px;
    height: 160px;
    width: 448px;
    align-content: center;
    align-items: center;
    margin-left: 82px;
  }
  .container1 section .first-box .purchase .one,
  .five {
    border: 1px solid var(--Outline);
    width: 416.02px;
    display: flex;
    align-self: center;
  }
  .container1 section .first-box .purchase .seven {
    display: flex;
    justify-content: space-between;
    width: 448px;
  }
  .container1 section .first-box .purchase .seven span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .container1 section .first-box .purchase .six {
    display: flex;
    justify-content: space-between;
    width: 444px;
    align-self: start;
  }
  .container1 section .first-box .purchase .six span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }
  /* second */
  .container1 section .second-box {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 72px;
    gap: 57px;
  }
  .container1 section .second-box .container2 {
    display: flex;
    gap: 72px;
  }
  /*details  */
  .container1 section .second-box .container2 .form {
    display: flex;
    flex-direction: column;
    width: 264px;
    height: 382px;
  }
  .container1 section .form .zero {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-bottom: 12px;
  }
  .container1 section .form .one {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 264px;
    margin-bottom: 40px;
  }
  .container1 section .form .one span:nth-of-type(1) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }
  .container1 section .form .one span:nth-of-type(2) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  /* payment method */
  .container1 section .second-box .container2 .method {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 264px;
  }
  .container1 section .second-box .container2 .method .one,
  .two {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .container1 section .second-box .container2 .method .one span:nth-of-type(1) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
  .container1 section .second-box .container2 .method .one span:nth-of-type(2),
  span:nth-of-type(3) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }
  .container1 section .second-box .container2 .method .two span:nth-of-type(1) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
  .container1 section .second-box .container2 .method .two span:nth-of-type(2),
  span:nth-of-type(3) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }
  /* buttons */
  .container1 section .second-box .buttons {
    display: flex;
    align-self: center;
    gap: 20px;
    flex-direction: column;
  }
  .container1 section .second-box .buttons a {
    width: 264px;
    height: 56px;
    background-color: var(--Primary);
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
  }
  .container1 section .second-box .buttons a button {
    width: 264px;
    height: 56px;
    background-color: var(--Primary);
    color: var(--On-Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
  }
  .container1 section .second-box .buttons button {
    width: 264px;
    height: 56px;
    color: var(--Primary);
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    background-color: var(--On-Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
  }
  /* suggested */
  .container1 .popular {
    width: 840px;
    height: 434px;
    gap: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 99px;
    margin-bottom: 93px;
  }
  .container1 .popular .one {
    color: var(--Primary);
    font-family: var(--secondary-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
  }
  .container1 .popular .img {
    display: flex;
    width: 840px;
    height: 354px;
    gap: 24px;
  }
  .container1 .popular .img div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
  }
  .container1 .popular .img img {
    width: 264px;
    height: 264px;
  }
  .container1 .popular .img span:nth-of-type(1) {
    width: 174px;
    height: 48px;
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--Primary);
  }
  .container1 .popular .img span:nth-of-type(2) {
    width: 100px;
    height: 24px;
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }
  /* fooooooooooooter */
  .footer {
    width: 1280px;
    height: 360px;
    padding: 30px 76px 30px 76px;
    gap: 24px;
    background-color: var(--Background-Variant);
    display: flex;
    justify-content: space-between;
  }
  .footer div {
    width: 262px;
    height: 300px;
    gap: 24px;
    display: flex;
    flex-direction: column;
  }
  .footer div h4 {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin: 0px;
  }
  .footer div ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  .footer div ul li {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
  }
  .footer div:nth-of-type(4) ul li {
    display: flex;
    gap: 9px;
  }
  .footer div:nth-of-type(4) ul li img {
    width: 12px;
    height: 15px;
    padding: 0px;
    margin: 0px;
  }
  .footer div:nth-of-type(4) ul li:nth-of-type(1) span {
    width: 230px;
  }
}
