* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  /* colors */
  --Primary: #282828;
  --On-Primary: #ffffff;
  --Secondary: #c3b212;
  --On-Secondary: #000000;
  --Background: #fefefe;
  --Background-Variant: #f4f4f4;
  --Outline: #a0a0a0;
  /* fonts */
  --Primary-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Prosto One", sans-serif;
}

body {
  background-color: var(--Background);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

/* small */
@media (max-width: 768px) {
  .container1 {
    width: 393px;
  }
  /* HEADER */
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 393px;
  }
  .header .container .logo {
    width: 127px;
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .header .container div:nth-of-type(2) {
    display: none;
  }
  .header .container div:nth-of-type(3) img:nth-of-type(1) {
    display: none;
  }
  .header .container div:nth-of-type(3) img:nth-of-type(2) {
    display: none;
  }
  .header .container div:nth-of-type(3) a img {
    display: none;
  }
  .header .container div:nth-of-type(3) img:nth-of-type(3) {
    width: 18px;
    height: 12px;
    display: block;
  }
  .header .container div:nth-of-type(3) {
    position: relative;
  }
  .header .container div:nth-of-type(1) img {
    width: 18px;
    height: 18px;
  }
  .header .container div:nth-of-type(1) h5 {
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    width: 95px;
    color: var(--Primary);
  }
  /* menu barrrrrrrrrrrrr */
  .header .container div:nth-of-type(3) .menu-bar {
    display: none;
    width: 267px;
    height: 650px;
    left: -219px;
    top: 12px;
    background-color: var(--Background);
    position: absolute;
    z-index: 1;
  }
  .header .container div:nth-of-type(3) .menu-bar .closed {
    width: 237px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .header .container div:nth-of-type(3) .menu-bar .closed span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .header .container div:nth-of-type(3) .menu-bar .closed img {
    width: 14px;
    height: 14px;
    display: block;
  }
  .header .container div:nth-of-type(3) .menu-bar .first-product {
    display: flex;
    justify-content: space-between;
    width: 237px;
    height: 53px;
    margin: 15px;
    gap: 6px;
  }
  .header .container div:nth-of-type(3) .menu-bar .first-product img {
    width: 53px;
    height: 53px;
    display: block;
  }
  .header .container div:nth-of-type(3) .menu-bar .first-product .details {
    display: flex;
    flex-direction: column;
    width: 178px;
    height: 53px;
  }
  .header .container div:nth-of-type(3) .menu-bar .first-product .details .one {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    width: 178px;
    height: 33px;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .first-product
    .details
    .one
    div:nth-of-type(1) {
    width: 102px;
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 8px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .first-product
    .details
    .one
    div:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .first-product
    .details
    .one
    div:nth-of-type(2)
    i {
    color: var(--Primary);
    font-size: 14px;
    text-align: center;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .first-product
    .details
    .one
    div:nth-of-type(2)
    span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .header .container div:nth-of-type(3) .menu-bar .first-product .details .two {
    display: flex;
    justify-content: space-between;
    width: 178px;
    gap: 69px;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .first-product
    .details
    .two
    div {
    font-family: var(--Primary-font-family);
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    display: block;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 196px;
    width: 239px;
    margin: 14px;
    align-content: center;
    align-items: center;
    margin-top: 120%;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .one {
    width: 350px;
    border: 1px solid var(--Outline);
    display: none;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .two {
    display: flex;
    justify-content: space-between;
    width: 223px;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .two span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .three {
    display: block;
    width: 239px;
    border: 1px solid var(--Outline);
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .four {
    display: flex;
    justify-content: space-between;
    width: 223px;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .four span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .five {
    width: 213px;
    border: 1px solid var(--Outline);
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .six {
    display: flex;
    justify-content: space-between;
    width: 223px;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .purchase
    .six
    span:nth-of-type(1) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .purchase
    .six
    span:nth-of-type(2) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase a {
    width: 238px;
    background-color: var(--Primary);
    text-align: center;
    height: 40px;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase a button {
    width: 238px;
    background-color: inherit;
    text-align: center;
    height: 40px;
    color: var(--On-Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
  }

  .header .container div:nth-of-type(3):hover .menu-bar {
    display: block;
  }
  /* prrrrrrrrrrrrroduct */
  .container1 .product {
    display: flex;
    flex-direction: column;
    width: 393px;
    margin-left: auto;
    margin-right: auto;
  }
  .container1 .product .one span {
    display: none;
  }
  .container1 .product .section {
    width: 393px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 27px;
  }
  .container1 .product .section .one {
    position: absolute;
    width: 393px;
    height: 393px;
  }
  .container1 .product .section .gradient {
    width: 393px;
    height: 104px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    position: relative;
    top: 0;
    margin-bottom: 289px;
  }
  .container1 .product .section .gradient i {
    font-size: 20px;
    margin-top: 14px;
    margin-left: 20px;
    color: var(--On-Primary);
  }
  .container1 .product .section .price {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .container1 .product .section .price .two {
    color: var(--Primary);
    font-family: var(--secondary-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    width: 361px;
    height: 72px;
    margin-left: 16px;
  }
  .container1 .product .section .price .three {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    width: 361px;
    height: 48px;
    margin-left: 16px;
  }
  .container1 .product .section .price .four {
    width: 360px;
    height: 24px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-left: 16px;
    gap: 26px;
  }
  .container1 .product .section .price .four div {
    width: 112px;
    height: 24px;
    gap: 8px;
    display: flex;
    align-items: center;
  }

  .container1 .product .section .price .four div span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    width: 81px;
    height: 24px;
    display: flex;
    align-items: center;
  }
  .container1 .product .section .price .five {
    color: var(--Primary);
    font-family: var(--secondary-font-family);
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
    margin-left: 16px;
  }
  .container1 .product .section .price .six {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin-left: 16px;
  }
  .container1 .product .section .price .seven {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 16px;
  }
  .container1 .product .section .price .seven img:nth-of-type(5) {
    display: none;
  }
  .container1 .product .section .price .seven img:nth-of-type(6) {
    display: none;
  }
  .container1 .product .section .price .eight {
    display: flex;
    width: 393px;
    height: 40px;
    justify-content: space-around;
    align-items: center;
  }
  .container1 .product .section .price .eight div {
    width: 96px;
    height: 32px;
    padding: 4px 0px 0px 0px;
    gap: 8px;
    display: flex;
    align-items: center;
  }
  .container1 .product .section .price .eight div span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }
  .container1 .product .section .price .eight div i {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container1 .product .section .price .eight a {
    background-color: var(--Primary);
    width: 242px;
    height: 40px;
    padding: 10px 24px 10px 16px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  .container1 .product .section .price .eight a span {
    color: var(--On-Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
  }
  /* ingridient */
  .container1 .ingridient {
    display: flex;
    background-color: var(--Background-Variant);
    width: 393px;
    height: 606.16px;
    padding: 32px 16px 32px 16px;
    gap: 30px;
    flex-direction: column;
    margin-top: 56px;
  }
  .container1 .ingridient .steebing {
    width: 362px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .container1 .ingridient .steebing .zero {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-wrap: nowrap;
  }
  .container1 .ingridient .steebing .one {
    display: flex;
    flex-direction: column;
  }
  .container1 .ingridient .steebing .one div {
    width: 362px;
    height: 40px;
    padding: 8px 0px 8px 0px;
    gap: 8px;
    display: flex;
    align-items: center;
  }
  .container1 .ingridient .steebing .one div span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
  }
  .container1 .ingridient .steebing .one .border {
    width: 264px;
    border: 1px solid var(--Outline);
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .container1 .ingridient .about {
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 18px;
  }
  .container1 .ingridient .about .one {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    width: 170px;
  }
  .container1 .ingridient .about .flavor {
    display: flex;
    gap: 9px;
    width: 358px;
    height: 70px;
    align-items: center;
  }
  .container1 .ingridient .about .flavor div span:nth-of-type(1) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
  }
  .container1 .ingridient .about .flavor div span:nth-of-type(2) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
  }
  .container1 .ingridient .about .flavor .border {
    height: 70px;
    border: 1px solid var(--Outline);
  }
  .container1 .ingridient .about .two {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    width: 364px;
  }
  .container1 .ingridient .about p {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    width: 364px;
    height: 48px;
  }
  /* likeeeeeeeeeeeeeeeeee */
  .container1 .like {
    width: 362px;
    height: 646px;
    padding: 32px 0px 32px 0px;
    gap: 28px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
  }
  .container1 .like .one {
    color: var(--Primary);
    font-family: var(--secondary-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }
  .container1 .like .img {
    display: flex;
    width: 362px;
    height: 522px;
    gap: 15px;
    flex-wrap: wrap;
  }
  .container1 .like .img div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .container1 .like .img img {
    width: 172px;
    height: 172px;
  }
  .container1 .like .img span:nth-of-type(1) {
    width: 173px;
    height: 38px;
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: center;
    color: var(--Primary);
  }
  .container1 .like .img span:nth-of-type(2) {
    width: 100px;
    height: 21px;
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: left;
  }
  /* fooooooooooooter */
  .footer {
    width: 393px;
    height: 530px;
    padding: 32px 16px 32px 16px;
    gap: 16px;
    background-color: var(--Background-Variant);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer div:nth-of-type(1) {
    width: 173px;
    height: 292px;
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
  .footer div:nth-of-type(2) {
    width: 171px;
    height: 118px;
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
  .footer div:nth-of-type(3) {
    width: 170px;
    height: 143px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    margin-left: 189px;
    margin-top: -179px;
  }
  .footer div:nth-of-type(4) {
    width: 361px;
    height: 158px;
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
  .footer div h4 {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin: 0px;
  }
  .footer div ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  .footer div ul li {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
  }
  .footer div:nth-of-type(4) ul li {
    display: flex;
    gap: 8px;
  }
  .footer div:nth-of-type(4) ul li img {
    width: 12px;
    height: 15px;
    padding: 0px;
    margin: 0px;
  }
  .footer div:nth-of-type(4) ul li:nth-of-type(1) span {
    /* width: 230px; */
  }
}

/* largeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */
@media (min-width: 769px) {
  .container1 {
    width: 1280px;
  }
  /* HEADER */
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .header .container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 511px;
  }
  .header .container ul a {
    text-decoration: none;
  }
  .header .container ul li {
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: var(--Primary);
  }
  .header .container .logo {
    width: 192px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .container div:nth-of-type(1) h5 {
    font-family: var(--secondary-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    width: 136px;
    color: var(--Primary);
  }
  .header .container div:nth-of-type(1) img {
    width: 36px;
    height: 36px;
  }

  .header .container div:nth-of-type(3) {
    width: 168px;
    display: flex;
    justify-content: space-between;
  }
  .header .container div:nth-of-type(3) img:nth-of-type(1) {
    width: 18px;
    height: 18px;
  }
  .header .container div:nth-of-type(3) img:nth-of-type(2) {
    width: 16px;
    height: 16px;
  }
  .header .container div:nth-of-type(3) a img {
    width: 18px;
    height: 21px;
  }
  .header .container div:nth-of-type(3) img:nth-of-type(3) {
    display: none;
  }
  .header .container div:nth-of-type(3) {
    position: relative;
  }
  /* menu barrrrrrrrrrrrr */
  .header .container div:nth-of-type(3) .menu-bar {
    display: block;
  }
  /* menu barrrrrrrrrrrrr */
  .header .container div:nth-of-type(3) .menu-bar {
    display: none;
    width: 465px;
    height: 714px;
    right: -60px;
    top: -2px;
    background-color: var(--Background);
    position: absolute;
    z-index: 1;
  }
  .header .container div:nth-of-type(3) .menu-bar .closed {
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
  }
  .header .container div:nth-of-type(3) .menu-bar .closed span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
  }
  .header .container div:nth-of-type(3) .menu-bar .closed img {
    width: 10.5px;
    height: 10.5px;
    display: none;
  }
  .header .container div:nth-of-type(3) .menu-bar .first-product {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: 71px;
    margin: 25px;
    gap: 26px;
  }
  .header .container div:nth-of-type(3) .menu-bar .first-product img {
    width: 71px;
    height: 71px;
  }
  .header .container div:nth-of-type(3) .menu-bar .first-product .details {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  .header .container div:nth-of-type(3) .menu-bar .first-product .details .one {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .first-product
    .details
    .one
    div:nth-of-type(1) {
    width: 200px;
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .first-product
    .details
    .one
    div:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .first-product
    .details
    .one
    div:nth-of-type(2)
    i {
    font-size: 22px;
    color: var(--Primary);
    font-size: 22px;
    text-align: center;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .first-product
    .details
    .one
    div:nth-of-type(2)
    span {
    font-size: 22px;
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
  }
  .header .container div:nth-of-type(3) .menu-bar .first-product .details .two {
    display: flex;
    justify-content: space-between;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .first-product
    .details
    .two
    div {
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase {
    display: flex;
    flex-direction: column;
    gap: 21px;
    height: 237px;
    width: 400px;
    margin: 25px;
    align-content: center;
    align-items: center;
    margin-top: 60%;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .one {
    width: 350px;
    border: 1px solid var(--Outline);
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .two {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .two span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .three {
    display: none;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .four {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .four span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .five {
    width: 350px;
    border: 1px solid var(--Outline);
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase .six {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .purchase
    .six
    span:nth-of-type(1) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .header
    .container
    div:nth-of-type(3)
    .menu-bar
    .purchase
    .six
    span:nth-of-type(2) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase a {
    width: 400px;
    background-color: var(--Primary);
    text-align: center;
    height: 56px;
  }
  .header .container div:nth-of-type(3) .menu-bar .purchase a button {
    width: 400px;
    background-color: inherit;
    text-align: center;
    height: 56px;
    color: var(--On-Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
  }

  .header .container div:nth-of-type(3):hover .menu-bar {
    display: block;
  }

  /* prrrrrrrrrrrrroduct */
  .container1 .product {
    display: flex;
    flex-direction: column;
    width: 1126px;
    height: 564px;
    gap: 37px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 63px;
  }
  .container1 .product .one span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
  }

  .container1 .product .section {
    width: 1126px;
    height: 507px;
    gap: 96px;
    display: flex;
    justify-content: space-between;
  }
  .container1 .product .section .gradient {
    display: none;
  }
  .container1 .product .section .price {
    width: 574px;
    height: 506.74px;
    display: flex;
    flex-direction: column;
    gap: 21px;
  }
  .container1 .product .section .price .two {
    color: var(--Primary);
    font-family: var(--secondary-font-family);
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
    width: 572px;
    height: 88px;
  }
  .container1 .product .section .price .three {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    width: 553px;
    height: 40px;
  }
  .container1 .product .section .price .four {
    width: 429px;
    height: 24px;
    gap: 61px;
    display: flex;
    align-items: center;
  }
  .container1 .product .section .price .four div {
    width: 124px;
    height: 24px;
    gap: 8px;
    display: flex;
    align-items: center;
  }
  .container1 .product .section .price .four div span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    width: 92px;
  }
  .container1 .product .section .price .five {
    color: var(--Primary);
    font-family: var(--secondary-font-family);
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
  }
  .container1 .product .section .price .six {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }
  .container1 .product .section .price .seven {
    display: flex;
    gap: 14px;
  }
  .container1 .product .section .price .eight {
    display: flex;
    width: 383px;
    height: 56px;
    gap: 23px;
    align-items: center;
  }
  .container1 .product .section .price .eight div {
    width: 96px;
    height: 32px;
    padding: 4px 0px 0px 0px;
    gap: 8px;
    display: flex;
    align-items: center;
  }
  .container1 .product .section .price .eight div span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }
  .container1 .product .section .price .eight div i {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container1 .product .section .price .eight a {
    background-color: var(--Primary);
    width: 264px;
    height: 56px;
    padding: 10px 24px 10px 16px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  .container1 .product .section .price .eight a span {
    color: var(--On-Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
  }
  /* ingridient */
  .container1 .ingridient {
    display: flex;
    justify-content: space-between;
    background-color: var(--Background-Variant);
    width: 1280px;
    height: 329px;
    padding: 40px 80px 40px 120px;
    gap: 160px;
    align-items: center;
  }
  .container1 .ingridient .steebing {
    width: 344px;
    height: 249px;
    display: flex;
    flex-direction: column;
    gap: 31px;
  }
  .container1 .ingridient .steebing .zero {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-wrap: nowrap;
  }
  .container1 .ingridient .steebing .one {
    display: flex;
    flex-direction: column;
  }
  .container1 .ingridient .steebing .one div {
    width: 334px;
    height: 40px;
    top: 99px;
    left: 120px;
    padding: 8px 0px 8px 0px;
    gap: 8px;
    display: flex;
    align-items: center;
  }
  .container1 .ingridient .steebing .one div span {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
  }
  .container1 .ingridient .steebing .one .border {
    width: 264px;
    border: 1px solid var(--Outline);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .container1 .ingridient .about {
    display: flex;
    flex-direction: column;
    width: 573px;
    height: 246px;
    gap: 24px;
  }
  .container1 .ingridient .about .one {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
  .container1 .ingridient .about .flavor {
    display: flex;
    gap: 45px;
    width: 573px;
    height: 70px;
    align-items: center;
  }
  .container1 .ingridient .about .flavor div span:nth-of-type(1) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
  }
  .container1 .ingridient .about .flavor div span:nth-of-type(2) {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
  }
  .container1 .ingridient .about .flavor .border {
    height: 70px;
    border: 1px solid var(--Outline);
  }
  .container1 .ingridient .about .two {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
  .container1 .ingridient .about p {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
  }
  /* likeeeeeeeeeeeeeeeeee */
  .container1 .like {
    width: 840px;
    height: 434px;
    gap: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    margin-bottom: 93px;
  }
  .container1 .like .one {
    color: var(--Primary);
    font-family: var(--secondary-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
  }
  .container1 .like .img {
    display: flex;
    width: 840px;
    height: 354px;
    gap: 24px;
  }
  .container1 .like .img div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
  }
  .container1 .like .img img {
    width: 264px;
    height: 264px;
  }
  .container1 .like .img span:nth-of-type(1) {
    width: 174px;
    height: 48px;
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--Primary);
  }
  .container1 .like .img span:nth-of-type(2) {
    width: 100px;
    height: 24px;
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }
  /* fooooooooooooter */
  .footer {
    width: 1280px;
    height: 360px;
    padding: 30px 76px 30px 76px;
    gap: 24px;
    background-color: var(--Background-Variant);
    display: flex;
    justify-content: space-between;
  }
  .footer div {
    width: 262px;
    height: 300px;
    gap: 24px;
    display: flex;
    flex-direction: column;
  }
  .footer div h4 {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin: 0px;
  }
  .footer div ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  .footer div ul li {
    color: var(--Primary);
    font-family: var(--Primary-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
  }
  .footer div:nth-of-type(4) ul li {
    display: flex;
    gap: 9px;
  }
  .footer div:nth-of-type(4) ul li img {
    width: 12px;
    height: 15px;
    padding: 0px;
    margin: 0px;
  }
  .footer div:nth-of-type(4) ul li:nth-of-type(1) span {
    width: 230px;
  }
}
